<a href="https://colab.research.google.com/github/LaurentLabine/fcc_data_analysis_python/blob/main/FCC_Data_Analysis_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import numpy as np
from google.colab import files 
data_url = 'https://raw.githubusercontent.com/LaurentLabine/fcc_data_analysis_python/main/demographic.csv'

In [6]:
import pandas as pd 
import io 

df = pd.read_csv(data_url)
print(df)

       age         workclass  fnlwgt  ... hours-per-week  native-country salary
0       39         State-gov   77516  ...             40   United-States  <=50K
1       50  Self-emp-not-inc   83311  ...             13   United-States  <=50K
2       38           Private  215646  ...             40   United-States  <=50K
3       53           Private  234721  ...             40   United-States  <=50K
4       28           Private  338409  ...             40            Cuba  <=50K
...    ...               ...     ...  ...            ...             ...    ...
32556   27           Private  257302  ...             38   United-States  <=50K
32557   40           Private  154374  ...             40   United-States   >50K
32558   58           Private  151910  ...             40   United-States  <=50K
32559   22           Private  201490  ...             20   United-States  <=50K
32560   52      Self-emp-inc  287927  ...             40   United-States   >50K

[32561 rows x 15 columns]

In [7]:
df['race'].value_counts()

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

In [8]:
df.loc[df['sex'] == "Male","age"].mean()

39.43354749885268

In [9]:
len(df.loc[df['education'] == "Bachelors"].value_counts())/len(df.index)

0.1643991277909155

In [10]:
education_list = ["Bachelors","Masters","Doctorate"]
higher_education = df.loc[(df['education'].isin(education_list))]
len(higher_education.loc[higher_education["salary"] == ">50K"])/len(higher_education)

0.46535843011613937

In [11]:
lower_education = df.loc[~(df['education'].isin(education_list))]
len(lower_education.loc[lower_education["salary"] == ">50K"])/len(lower_education)

0.173713601914639

In [12]:
df["hours-per-week"].min()

1

In [13]:
min_hours = df.loc[df["hours-per-week"] == df["hours-per-week"].min()]
len(min_hours.loc[min_hours["salary"] == ">50K"])

2

In [14]:
df1 = df[["salary", "native-country"]]
df1.loc[df1["salary"] == ">50K"].value_counts(normalize=True).max()

0.9145517153424308

In [113]:

# dfref = df1["native-country"].value_counts().reset_index()
dfref = df["native-country"].value_counts().reset_index()
dfref.columns = ["native-country","nb"]
total_data_per_countries = dfref.set_index('native-country').T.to_dict("records")[0]

df_over_50k = df1.loc[df1["salary"] == ">50K"].value_counts().reset_index()
del df_over_50k['salary']
df_over_50k.columns = ["native-country","nb"]
over_50k = df_over_50k.set_index('native-country').T.to_dict("records")[0]

res = {}

for country in total_data_per_countries:
  if(country in over_50k):
    res[country] = over_50k[country]/total_data_per_countries[country]

new = pd.DataFrame.from_dict(res, orient ='index').reset_index()
new.columns=["country","wealth-%"]

print(new.loc[new['wealth-%'].idxmax()].to_dict())

{'country': 'Iran', 'wealth-%': 0.4186046511627907}

In [112]:
india_oc = df.loc[df['native-country'] == "India"]
# print(india_oc)
india_over_50k = india_oc.loc[india_oc["salary"] == ">50K"]
india_over_50k_values = india_over_50k["occupation"].value_counts().reset_index()
india_over_50k_values.loc[india_over_50k_values['occupation'].idxmax(),["index"]].to_dict()["index"]
# print(india_over_50k_values)

'Prof-specialty'